body {
  display: block;
  color: rgba(134, 165, 222, 0.458);
  font-family: "Raleway Dots";
  font-size: 25px;
}
h1 {
  position: relative;
  top: 90px;
  left: -40px;
  font-size: 40px;
  transform: rotate(-45deg);
}
a {
  color: rgb(248, 248, 250);
  text-decoration: none;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.word {
  position: relative;
  bottom: 80px;
  left: 40px;
}
.weather {
  position: relative;
  bottom: 155px;
  left: 80px;
  font-size: 25px;
}
.first-info {
  list-style: none;
  transform: rotate(-45deg);
  position: relative;
  top: 160px;
  left: 40px;
  font-size: 20px;
}
.second-info {
  position: relative;
  left: 15px;
  transform: rotate(-45deg);
}
.temperature {
  font-size: 110px;
  position: relative;
  left: 50px;
  bottom: 30px;
}
.clock {
  position: relative;
  left: -25px;
  top: 30px;
}
.procent {
  position: relative;
  left: -10px;
  top: 55px;
}
.kilometers {
  position: relative;
  top: 80px;
  left: 10px;
}
.box {
  position: relative;
  top: 100px;
  margin: 0 auto;
  padding: 30px;
  width: 500px;
  height: 500px;
  border-radius: 0 50% 50% 50%;
  border: 0.5px solid black;
  transform: rotate(45deg);
  margin-top: 20px;
  border-style: solid;
  border-color: rgb(25, 48, 90);
  background: rgb(240, 241, 243);
  background: radial-gradient(
    circle,
    rgba(240, 241, 243, 0) 10%,
    rgba(67, 92, 147, 0.37186897880539505) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.source-code {
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: -120px;
  right: 60px;
}
#search-form {
  transform: rotate(-45deg);
  position: relative;
  right: 50px;
}

.searching {
  background-color: rgba(4, 30, 68, 0.397);
  border: 0.5px solid rgb(140, 210, 248);
  border-radius: 20px;
  position: relative;
  top: 40px;
  right: 30px;
  color: rgba(240, 248, 255, 0.55);
}

#text {
  background-color: rgba(71, 109, 146, 0.397);
  color: rgb(140, 210, 248);
  position: relative;
  top: 40px;
  right: 30px;
  border: 0.5px solid rgb(140, 210, 248);
}

#icon {
  opacity: 0.5;
  position: relative;
  bottom: 130px;
  left: 150px;
}
.active {
  color: rgb(87, 133, 197);
}
